*{
	margin: 0;
	padding: 0;
}

body{
	background-attachment: fixed;
	color: #F5F4F6;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
	font-family: "微软雅黑";
	background-image: url('https://www.a5xiazai.com/demo/code_pop/43/19/img/1.jpg');
	background-size: auto;
}
.over{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(225, 225, 225, 0.5);
	z-index: 9;
}

audio{
	position: absolute;
	right: 0;
	opacity: 0.1;
	transition: all 1s;
	
}

audio:hover{
	opacity: 1;
}

.current{
	color: #D1A3F7;
}


video{
	z-index: -1;
	/* object-fit: fill; */
	position: fixed;
	/* right: 0px;
	bottom: 0px; */
	min-width: 100%;
	min-height: 100%;
	/* height: auto;
	width: auto; */
}


.main-content{
	position: absolute; 
	top:50%;
	left: 50%;
	z-index: 5;
}


.main-content .year{
	position: relative;
	top: -13px;
	left: -38px;
	text-align: center
}

.main-content .year span{
	position: absolute;
	width: 80px;
}



.main-content .month{
	position: relative;
	top: -13px;
	left: 40px;
}

.month span{
	position: absolute;
	width: 60px;
	
}

.main-content .day{
	position: relative;
	top: -13px;
	left: 85px;
}

.day span{
	position: absolute;
	width: 65px;
	
}




.main-content .week{
	position: relative;
	top: -13px;
	left: 145px;
}
.week span{
	position: absolute;
	width: 65px;
	
}


.main-content .shichen{
	position: relative;
	top: -13px;
	left: 200px;
}
.shichen span{
	position: absolute;
	width: 125px;
	
}


.main-content .hour{
	position: relative;
	top: -13px;
	left: 240px;
}
.hour span{
	position: absolute;
	width: 60px;
	
}


.main-content .minute{
	position: relative;
	top: -13px;
	left: 300px;
}
.minute span{
	position: absolute;
	width: 60px;
	
}


.main-content .second{
	position: relative;
	top: -13px;
	left: 370px;
}
.second span{
	position: absolute;
	width: 60px;
	
}